.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container h3 {
  color: rgb(54, 54, 54);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
}

.container .input {
  height: 30px;
  border-radius: 8px;
  max-width: 300px;
  width: 100%;
  margin: 24px;
  padding: 8px;
  outline: none;

  border: 1px solid gray;
}

.container .btn {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 30px;
  border-radius: 8px;
  max-width: 300px;
  width: 100%;
  outline: none;
  padding: 5px;

  border: 1px solid rgb(1, 65, 255);
  background-color: rgb(69, 69, 231);
  color: white;
  text-decoration: none;

  transition: 0.5s;
  opacity: 0.8;
}

.container .btn:hover {
  opacity: 1;
}
